<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../metadata.ejs') %>
    <title>Document</title>
</head>
<body>
    <div class="upload-form-container">
    <form action="/adminlogin" method="post">
        <h1 style="text-align: center;">Admin Panel: Login</h1>
        <br>
        <br>
        <input type="text" name="adminname" id="text" placeholder="Username" style="width: 20%; padding: 15px;"><br><br>
        <input type="password" name="adminpassword" id="text" placeholder="Password" style="width: 20%; padding: 15px;"><br><br>
        <button type="submit">Login</button>
    </form>
    </div>
    <br>
</body>
</html>