<nav class="nav-bar">
    <div class="nav-bar-child">
        <a href="http://localhost:7000/" style="display: inline-block; text-align: left; vertical-align: middle;"><img src="/hotdog.png" alt="" width="15%" style="user-select: none;"></a>
        <ul>
            <a href="/" style="color: black; text-decoration: none;"><li>Home</li></a>
            <a href="" style="color: black; text-decoration: none;"><li>About</li></a>
            <!--<% if(jwtCookie !== '') {%>
                <form action="/logout" method="post">
                <li><button type="submit" style="background-color: #FECD45; color: black; border: none;">Logout</button></li>
                </form>
                <br>
                <a href="/create-post" style="color: black; text-decoration: none;"><li>Create New Post</li></a>
            <% } else{ %>
                <li>Login</li>
                <li>Register</li>
            <% } %>-->
        </ul>
        
    </div>
</nav>